body {
  font-family: "Rubik", sans-serif;
}

.font-large {
  font-size: 50px;
}

.big-font {
  font-size: 3rem;
}

a {
  text-decoration: none;
}

.hover {
  cursor: pointer;
}

.rubiks-font {
  font-family: "Rubik", sans-serif;
}

.curly {
  font-family: "Abril Fatface", cursive;
}

.nav-link {
  color: #717573;
}

.nav-link:hover {
  color: #60be74;
}

.green {
  color: #60be74;
}

.green-bg {
  background-color: #60be74;
}

.grey-bg {
  background-color: #f4f4f4;
}
