.details-section {
  min-height: 100vh;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  padding-top: 60px;
}

.PD-img {
  height: 60vh;
  max-width: 80vw;
  object-fit: cover;
  border-radius: 10px;
}

.PD-title {
  font-size: 3.5rem;
  font-weight: 800;
}

.PD-desc {
  color: #808080;
}

.PD-price {
  color: #60be74;
  font-size: 2rem;
}
